{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form method="POST">
      {% csrf_token %}
     <fieldset class="form-group">
         <legend class="border-bottom mb-4 mt-3">Are You Sure You Want To Reset You Password ?!</legend>
         <h3 class="mb-4"> Please Enter Your Email !</h3>
         {{ form|crispy }}
         <p class="alert alert-info mt-3"> You Email that you input we will send information to change password in it <br>
          and then you must open the message and follow the link in it</p>
     </fieldset>
     <div class="form-group pt-3 pb-3">
         <button class="btn btn-outline-danger" type="submit">Request Password Confirm</button>
     </div>
  </form>
</div>
{% endblock content %}